*.o
main
*-blx.aux
*-blx.bib
*.acn
*.acr
*.alg
*.aut
*.aux
*.bak
*.bbl
*.bcf
*.bix
*.blg
*.bmt
*.brf
*.cp
*.cps
*.dvi
*.fdb_latexmk
*.fls
*.fn
*.fns
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kilepr
*.ky
*.loa
*.lof
*.log
*.lol
*.lot
*.maf
*.ml[ft]*
*.mtc
*.mtc*
*.mtc0
*.mtc1
*.nav
*.nlo
*.out
*.pdfsync
*.pfg
*.pg
*.prj
*.ps
*.pyg
*.run.xml
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sav
*.snm
*.sout
*.sympy
*.synctex.gz
*.synctex.gz(busy)
*.tcp
*.tdo
*.thm
*.tmnp
*.tmp
*.toc
*.tp
*.tps
*.vr
*.vrb
*.vrs
*.xdy
*~
